<div class="fund-wrapper">
  <h2 class="section-heading">Fund List</h2>
  <div class="fund-actions">
    <button class="btn btn-add" routerLink="../addFund">Add Fund</button>
  </div>

  <table class="fund-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Paid To</th>
        <th>Total Amount</th>
        <th>Paid Amount</th>
        <th>Outstanding</th>
        <th>Date Paid</th>
        <th>Owner Name</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of NewFunds; let i = index ">
        
        <td>{{ i + 1 }}</td>
        <td>{{ fund.paidTo }}</td>
        <td>{{ fund.amount }}</td>
        <td>{{ fund.paidAmount }}</td>
        <td>{{ fund.outstanding }}</td>
        <td>
          {{
            (fund.year + '-' + fund.month + '-' + fund.datePaid) | date: 'dd-MMM-yyyy'
          }}
        </td>
        <td>
          {{fund.ResidentName}}
        </td>
        <td>
          <button class="btn btn-edit" (click)="updatefunds(fund.id,fund)">Edit</button>
          <button class="btn btn-delete" (click)="deletefund(fund)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
