.fund-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
  
  .section-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
  }
  
  .half-width {
    flex: 1;
  }
  
  .third-width {
    flex: 1 1 30%;
    min-width: 100px;
  }
  
  .form-group label {
    font-weight: 600;
    margin-bottom: 4px;
    color: #555;
  }
  
  .fund-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .fund-form input:focus {
    border-color: #28a745;
    box-shadow: 0 0 4px rgba(40, 167, 69, 0.3);
    outline: none;
  }
  
  .btn-add {
    width: 100%;
    padding: 10px;
   background-color: #007BFF; 
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
  }
  
  .btn-add:hover {
    background-color: #0056b3;
  }.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  .cancel{
  background-color: #333333a6;
  width: 100%;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-left: 2%;
}
.cancel:hover{
  background-color: #333333cc;
  
}
.Buttons{
  display: flex;
}