<div class="cards-container">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-title">Total Residents</div>
      <div class="card-value">{{Residents.length}}</div>
    </div>
    <div class="detail-button" routerLink="resident">
      <button>View Details</button>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card">
      <div class="card-title">Total Funds</div>
      <div class="card-value">{{TotalFund}}</div>
    </div>
    <div class="detail-button" routerLink="fund">
      <button>View Details</button>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card">
      <div class="card-title">Total Expenses</div>
      <div class="card-value">{{TotalExpense}}</div>
    </div>
    <div class="detail-button" routerLink="expense">
      <button>View Details</button>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card">
      <div class="card-title">Summary</div>
      <div class="card-content">
        <p><strong>Opening Balance:</strong> {{ Summary?.openningBalance }}</p>
        <p><strong>Closing Balance:</strong> {{ Summary?.closingBalance }}</p>
      </div>
    </div>
  
    <div class="detail-button" routerLink="summary">
      <button>View Details</button>
    </div>
  </div>
  
