.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
}

.card-wrapper {
  flex: 1 1 250px;
  max-width: 300px;
  min-width: 250px;
  background-color: #4a4a4a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  height: 150px;
  background-color: #4a4a4a0f;
  color: white;
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.detail-button {
  background-color: #3a3a3a;
  text-align: center;
  padding: 0.75rem;
}

.detail-button button {
  background-color: white;
  color: #4a4a4a;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detail-button button:hover {
  background-color: #ddd;
}

body {
  background: linear-gradient(to bottom right, #f5f5f5, #e0e0e0);
}

.navbar-icons i {
  padding: 0.25rem;
  font-size: 1.3rem;
}
