<div class="resident-wrapper">
<h2 class="section-heading">Resident List</h2>
<div class="resident-actions">
  <button class="btn btn-add" routerLink="../addResident">Add Resident</button>
</div>
<table class="fund-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>House</th>
        <th>Street</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resident of residents">
        <td>1</td>
        <td>{{resident.ownerName}}</td>
        <td>{{resident.phoneNumber}}</td>
        <td>{{resident.houseNumber}}</td>
        <td>{{resident.street}}</td>
        <td>
          <button class="btn btn-edit" (click)="updateResident(resident.id,resident)">Edit</button>
          <button class="btn btn-delete" (click)="deleteResident(resident.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>