<div class="expense-wrapper">
  <h2 class="section-heading">Expense List</h2>
  <div class="expense-actions">
    <button class="btn btn-add" (click)="createExpense()">Add Expense</button>
  </div>
  <table class="expense-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ expense.description }}</td> 
        <td>{{ expense.amount }}</td>
        <td>{{ expense.categoryId }}</td>
        <td>
        {{
          (expense.year + '-' + expense.month + '-' + expense.expenseDate) | date: 'dd-MMM-yyyy'
        }}</td>
        <td>
          <button class="btn btn-edit" (click)="updateExpense(expense.id,expense)">Edit</button>
          <button class="btn btn-delete" (click)="deleteExpense(expense.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
