<div class="center-wrapper">
  <div class="form-container">
    <h2>{{title}}</h2>

    <form #residentForm="ngForm" (ngSubmit)="onSubmit(residentForm)" class="resident-form">
      <div class="form-row">
        <!-- Owner Name -->
        <div class="form-group">
          <label for="ownerName">Owner Name:</label>
          <input
            type="text"
            id="ownerName"
            name="ownerName"
            [(ngModel)]="newResident.ownerName"
            required
            #ownerName="ngModel"
          />
          <div *ngIf="(ownerName.touched || formSubmitted) && ownerName.invalid" class="error-message">
            Owner Name is required.
          </div>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            [(ngModel)]="newResident.phoneNumber"
            required
            pattern="^[0-9]{11}$"
            maxlength="11"
            #phoneNumber="ngModel"
          />
        
          <div *ngIf="(phoneNumber.touched || formSubmitted) && phoneNumber.invalid" class="error-message">
            <div *ngIf="phoneNumber.errors?.['required']">Phone Number is required.</div>
            <div *ngIf="phoneNumber.errors?.['pattern']">Phone Number must be 11 digits only.</div>
          </div>
        </div>
        
        
      </div>

      <div class="form-row">
        <!-- Street -->
        <div class="form-group">
          <label for="street">Street:</label>
          <input
            type="text"
            id="street"
            name="street"
            [(ngModel)]="newResident.street"
            required
            #street="ngModel"
          />
          <div *ngIf="(street.touched || formSubmitted) && street.invalid" class="error-message">
            Street is required.
          </div>
        </div>

        <!-- House Number -->
        <div class="form-group half-width">
          <label for="houseNumber">House Number:</label>
          <input
            type="text"
            id="houseNumber"
            name="houseNumber"
            [(ngModel)]="newResident.houseNumber"
            required
            #houseNumber="ngModel"
          />
          <div *ngIf="(houseNumber.touched || formSubmitted) && houseNumber.invalid" class="error-message">
            House Number is required.
          </div>
        </div>
      </div>
      <div class="Buttons">
      <button type="submit" class="btn-add">{{title}}</button>
      <button  class="btn btn-add cancel" (click)="Oncancel()">
      Cancel
    </button>
    </div>
    </form>
  </div>
</div>
